<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Select Tests</title>
</head>
<body style="background-color: #00FFFF;">
<div id="msg">Select the Test</div>
<br>
<br>
<a th:href="@{/springAssessment.html}" id="spring">Spring Assessment</a>
<br>
<a th:href="@{/hibernateAssessment.html}" id="hibernate">Hibernate Assessment</a>
<br>
<br>
<a th:href="@{/index}" id="logout">Logout</a>
</body>
</html>